*{
    margin: 100;
    padding: 50;
}

body{
    padding: 50px;
    border: 2px dashed gray;
}

div{
    width: 500px;
    height: 500px;
    text-align: center;
}

.visible{
    overflow: auto;    
}

.no-visible{
    overflow: hidden;
}

.imagen{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
