*{
    margin: 100;
    padding: 50;
}

body{
    padding: 100px;
    border: 10px dashed gray;
    text-align: center;
    font-style: normal;
}

div{
    width: 500px;
    height: 500px;
    text-align: center;
}

.visible{
    overflow: auto;    
}

.no-visible{
    overflow: hidden;
}

.imagen{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

